name: CI

on:
  pull_request:
    branches: [ master ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2
      - name: Set up JDK 15
        uses: actions/setup-java@v2
        with:
          java-version: '15'
          distribution: 'adopt'

  test:
    needs: [build]
    runs-on: ubuntu-latest

    steps:
      - name: Build with Maven
        run: mvn -B clean test
